<style>
    @font-face {
        font-family: 'Spectral Regular';
        src: url({{ "fonts/Spectral/Spectral-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Spectral Bold';
        src: url({{ "fonts/Spectral/Spectral-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Spectral Italic';
        src: url({{ "fonts/Spectral/Spectral-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Spectral Bold Italic';
        src: url({{ "fonts/Spectral/Spectral-BoldItalic.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Spectral Regular";
    }
</style>