:root {
  --main: #e8607b;
  --main-light: #ff8099;
  --dark: #000;
  --dark-light: #101010;
  --white: #eee;
  --grey: rgb(169, 169, 169);
  --navbar: #000; /* Color de fondo de barra de navegación superior */
  --footer: #000; /* Color de fondo del footer */
  --content: #000; /* Color de fondo del centro */
}
